.navigationButtons {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

.containerPrev {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.containerNext {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}


.btn {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border-color: transparent;
    color: white;
    background-color: #4F4797;
    font-weight: 800;
}

.btnDisabled {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border-color: transparent;
    color: white;
    background-color: #9894cb;
    cursor: not-allowed; 
}