.slotSelection {
    width: 100%;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-sizing: border-box;
}

.containerTimeSlots {
    width: 100%;
}

.containerDates {
    width: 100%;
}

.containerTimes {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    box-sizing: border-box;
}

.btn {
    height: 40px;
    width: 100px;
    border-color: transparent;
    border-radius: 5px;
    color: black;
    background-color: lightgray;
}

.btnSelected {
    background-color: darkgray; /* Example color for selected state */
    color: white; /* Ensure text is readable on the selected background */
    font-weight: 800;
   }
